# Loading libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import Normalizer, StandardScaler, OneHotEncoder
import pickle, os
warnings.filterwarnings("ignore")
%matplotlib inline

# Creating the connection

In [2]:
password = getpass.getpass("Please type your SQL password: ")
# We create the connection
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)

Please type your SQL password: ········

# Defining functions

In [3]:
%%writefile functions.py
#Data gathering step: Extracting the data 
def get_AB_loans(engine):
    import pandas as pd
    query = '''select t.type, t.operation, t.amount as t_amount, t.balance, t.k_symbol, l.amount as l_amount, l.duration, l.payments, l.status
    from trans t
    left join loan l
    on t.account_id = l.account_id
    where l.status in ('A', 'B');'''
    data = pd.read_sql_query(query, engine)
    return data

def cleanOperation(x):
    x = x.lower()
    if 'vyber' in x:
        return "vyber"
    elif 'prevod' in x:
        return "prevod"
    elif 'vklad' in x:
        return 'vklad'
    else:
        return 'unknown'

def cleankSymbol(x):
    if x in ['', ' ']:
        return 'unknown'
    else:
        return x

def cleanDuration(x):
    if x in ['48', '60']:
        return 'other'
    else:
        return str(x)

def preprocess(df):
    df['duration'] = df['duration'].astype('str')
    df['operation'] = list(map(cleanOperation,df['operation']))
    df['k_symbol'] = list(map(cleankSymbol, df['k_symbol']))
    df = df[~df['k_symbol'].isin(['POJISTINE', 'SANKC. UROK', 'UVER'])]
    df['duration'] = list(map(cleanDuration, df['duration']))
    df.reset_index(inplace=True, drop=True)
    return df

Overwriting functions.py

In [4]:
from functions import get_AB_loans, cleanOperation, cleankSymbol, cleanDuration, preprocess

In [5]:
data = get_AB_loans(engine)
data

,type,operation,t_amount,balance,k_symbol,l_amount,duration,payments,status
0,PRIJEM,PREVOD Z UCTU,44749.0,45549.0,,79608,24,3317.0,A
1,PRIJEM,VKLAD,1000.0,1000.0,,52788,12,4399.0,A
2,PRIJEM,VKLAD,1100.0,1100.0,,21924,36,609.0,A
3,PRIJEM,VKLAD,700.0,700.0,,23052,12,1921.0,A
4,PRIJEM,VKLAD,900.0,900.0,,41904,12,3492.0,A
...,...,...,...,...,...,...,...,...,...
74359,PRIJEM,,221.3,48019.4,UROK,131292,36,3647.0,A
74360,PRIJEM,,227.6,108432.0,UROK,168984,24,7041.0,B
74361,PRIJEM,,235.7,53703.3,UROK,182628,36,5073.0,A
74362,PRIJEM,,293.0,85131.6,UROK,274740,60,4579.0,A
74363,PRIJEM,,395.6,96741.4,UROK,151560,24,6315.0,A

In [7]:
data['type'].unique()

array(['PRIJEM', 'VYDAJ', 'VYBER'], dtype=object)

In [8]:
data['operation'].unique()

array(['PREVOD Z UCTU', 'VKLAD', '', 'VYBER', 'PREVOD NA UCET',
       'VYBER KARTOU'], dtype=object)

In [9]:
data['k_symbol'].unique()

array(['', 'UROK', ' ', 'SIPO', 'SLUZBY', 'POJISTNE', 'UVER',
       'SANKC. UROK'], dtype=object)

In [10]:
data['duration'].unique()

array([24, 12, 36, 48, 60])

In [ ]:
data = preprocess(data)
data

# Checking for multicollinearity

In [ ]:
corr_matrix=data.corr(method='pearson')  # default
fig, ax = plt.subplots(figsize=(10, 8))
ax = sns.heatmap(corr_matrix, annot=True)
plt.show()

# Plotting histograms of numerical features

In [ ]:
sns.distplot(data['t_amount'])
plt.show()

sns.distplot(data['l_amount'])
plt.show()

sns.distplot(data['balance'])
plt.show()

sns.distplot(data['payments'])
plt.show()

# Selecting numerical features.

Sometimes, we may need to have an speciall preprocessing for numerical features (fill missing values,..etc). Therefore, sometimes (not the case here) it's interesting to have them separatelly.

In [ ]:
numerical = data.select_dtypes(include = np.number)

In [ ]:
numerical.shape

# Selecting the categorical features

Usually the categorical features need different preprocessing than the numerical features. Therefore, it's interesting to have them separatelly.

In [ ]:
categorical = data.select_dtypes(include = np.object)

# We drop the 'status' column because is our dependent feature.
categorical = categorical.drop(['status'], axis=1)

## Dummifying categorical features

Define the possible values of each categorical feature BEFORE any train-test split. This is to avoid that some of the possible values of one or more categorical columns will not be taken into account during the dummification because they will be in the test set but not in the train set. To do this, we define the list 'data_categories' that have will one list for each categorical feature. Each sublist will have all the possible values of each categorical feature.

In [ ]:
data_categories = [] 
for col in categorical.columns:
    data_categories.append(categorical[col].unique().tolist())

In [ ]:
## The option drop='first' is drop the first possible value of each feature to avoid the 'dummy trap'
encoder = OneHotEncoder(drop='first', categories = data_categories)

In [ ]:
## We fit the encoder to let it know what are the current categorical values in our dataframe
encoder.fit(categorical)
cat_transformed = encoder.transform(categorical) # This will become a numpy array without columns names!!!

We want to have a dataframe with column names instead of a numpy array. Therefore, we're going to store the right column names

In [ ]:
## We define the column names
col_names = []
for index, col in enumerate(categorical.columns):
    # Remember thar the OneHotEncoder doesn't know the first value of the category because we have used drop='first'
    # when setting the encoder
    col_names += [col + '_' + category for category in data_categories[index][1:]]
col_names

In [ ]:
categorical = pd.DataFrame(cat_transformed.toarray(), columns = col_names)
categorical

As you can see, this new dataframe contains entries of 0/1 wether the corresponding row takes the value of the
categorical column or not. You can also see that with the column 'type', only two possible values appear. 
This is because we used the option drop='first'. Why? Because if the row is not 'VYDAJ' or 'VYBER' we already 
know what it's the value: 'PRIJEM', the missing one. The same applies to the other columns.

# Saving the encoder

In [ ]:
# Creating a folder in the current folder to save the transformer
if (not os.path.exists('encoders')):
    os.makedirs('encoders')
    # Saving the encoder for later
    pickle.dump(encoder, open('encoders/one_hot_encoder.pkl', 'wb'))

# Data splitting

In [ ]:
# Model building
## We start defining our dependent and independent features.
y = data['status']
X = pd.concat([numerical, categorical], axis=1)
X

# Train-test split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

# Transforming the data with transformer

In [ ]:
## Transforming the dataframe with a transformer
transformer = StandardScaler()
transformer.fit(X_train)
X_train_trans = transformer.transform(X_train)
X_test_trans  = transformer.transform(X_test)

X_train_trans_df = pd.DataFrame(X_train_trans, columns = X_train.columns)
X_test_trans_df  = pd.DataFrame(X_test_trans,  columns = X_test.columns)

# Saving the transformer

In [ ]:
# Creating a folder in the current folder to save the transformer
if (not os.path.exists('transformers')):
    os.makedirs('transformers')
    # Saving the transformer for later
    pickle.dump(transformer, open('transformers/standard_scaler.pkl', 'wb'))

# Creating the model

In [ ]:
model = LogisticRegression()
model.fit(X_train_trans_df, y_train)

# Saving the model

In [ ]:
# Saving the model
# Creating a folder in the current folder to save the model
if (not os.path.exists('models')):
    os.makedirs('models')
    # Saving the transformer for later
    pickle.dump(model, open('models/logistic_model.pkl', 'wb'))

# Making predictions

In [ ]:
y_train_pred = model.predict(X_train_trans_df)
y_test_pred  = model.predict(X_test_trans_df)

y_train_pred